/* общее */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    scroll-behavior: smooth;
}

html {
    padding: 0;
}

body {
    max-width: 2300px;
    margin: 0 auto;
    min-width: 320px;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 10px;
}

h2 {
    color: rgb(54, 17, 90);
    text-align: center;
    font-size: 64px;
    margin-bottom: 30px;
}

h3 {
    font-size: 44px;
    margin: 20px auto;
    font-weight: 900;
}

:root {
    --main-background-color: rgb(215, 201, 227);
}

a {
    color: black;
    text-decoration: none;
}

/* верхний блок с меню */

.head-section {
    height: 100vh;
    /* border: 2px solid blueviolet; */
    background-image: url(../images/background-main.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 10px 5px;
    position: relative;
}

.main-logo {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 550px;
    animation: backInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}

.menu {
    /* border: 1px solid blueviolet; */
    display: flex;
    margin: 10px auto;
    font-size: 40px;
    width: 70%;
    justify-content: space-between;
}

.menu span a {
    color: black;
}

.menu span a:hover {
    color: blueviolet;
}

.background-image1 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 18%;
}

/* описание компании */

.intro-section {
    padding: 50px 0;
    text-align: center;
    background-color: var(--main-background-color);
    font-size: 32px;
 }
 
 .logo2 {
     width: 200px;
 }

 .intro-section__images {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     font-size: 36px;
 }
 
 .intro-section__image {
     display: flex;
     flex-direction: column;
     padding: 20px;
 }

 .intro-section__image:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}
 
 .intro-image {
     height: 150px;
     margin: 40px auto 25px;
 }

/* торты  */

.cake-section {
    background-image: url(../images/cakes-background1.jpg);
    height: 576px;
    background-size: cover;
    padding: 90px 0;
    position: relative;
}

.cake-section__text {
    font-size: 38px;
    text-transform: unset;
    padding-left: 4%;
}

.background-image3 {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 12%;
}

/* чизкейки  */

.cheesecake-section {
    background-image: url(../images/cheesecakes-background1.png);
    background-size: cover;
    height: 576px;
    padding: 50px 0;
    position: relative;
}

.background-image4 {
    position: absolute;
    bottom: -20%;
    right: 0%;
}

/* эклеры  */

.eclair-section {
    background-color: var(--main-background-color);
    background-size: cover;
    height: 582px;
    padding: 90px 0;
    position: relative;
}

.eclairs-headline {
    width: 25%;
    margin-bottom: 30px;
}

.eclair-section__text {
    font-size: 38px;
    text-transform: unset;
    padding-left: 4%;
}

.eclair-section__text:nth-child(3) {
    padding-left: 6%;
}

/* вводный блок для категории меню  */

.category-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cheesecake-section__text {
    font-size: 38px;
    text-transform: unset;
    padding-left: 6%;
    cursor: pointer;
}

.button-more-info {
    width: 250px;
    padding: 0;
    margin: 0;
    margin: 25px 0;
    padding-left: 15%;
    cursor: pointer;
}

.button-more-info__text {
    position: absolute;
    top: 25%;
    left: 29%;
    font-size: 38px;
    text-transform: unset;
    padding-left: 6%;
}

.category-section div {
    position: relative;
}

.category-headline {
    width: 30%;
    margin-bottom: 30px;
}

/* карточки товаров */

.items-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    row-gap: 50px;
}

.menu-section {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 100px 0 70px;
}

.menu-image {
    width: 93%;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    cursor: pointer;
}

.card:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}

.price {
    font-size: 34px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

/* видео */

.video-section {
    padding: 50px 10px 90px;
    position: relative;
}

.video-frame {
   text-align: center;
}

.background-image5 {
    position: absolute;
    top: -28%;
    left: 0%;
    width: 18%;
}

/* предзаказ */

.buy-section {
    padding: 50px 0 5px;
    background-color: var(--main-background-color);
    font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
}

.buy-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 10px;
}

.buy-section__image {
    width: 95%;
}

.buy-section__text p {
    font-size: 28px;
    margin-bottom: 3px;
}

.buy-section > .container > p {
   font-size: 28px;
   text-align: center;
   margin-bottom: 10px;
}

/* карта */
    
.map-section {
    padding: 5px 0 15px;
    background-color: var(--main-background-color);
}

.map-picture {
    width: 90%;
}

.map-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 10px;
    column-gap: 20px;
}

.map-section__text {
    padding: 15px 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.map-section__text p {
    font-size: 28px;
}

.map-section__text h3 {
    margin-top: 5px;
}

/* футер */

.footer-section {
    padding: 5px 10px 15px;
    background-color: var(--main-background-color);
}

.footer-section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto 20px;
}

.footer-section p {
    font-size: 80px;
}

.background-image6 {
    width: 8%;
}

.background-image7 {
    width: 8%;
}

/* полная карточка  */

.full-card {  
    padding: 60px 30px; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px;
    width: 80%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

  .full-item-card {
    display: none;
}

  .full-card__image {
    width: 95%; 
    cursor: pointer;
}

  .full-card__text {
    display: flex; 
    flex-direction: column; 
    width: 95%; 
    font-size: 32px;
}

  .full-card__text p {
    margin-bottom: 10px;
}

  .full-card__text :nth-child(3) {
   font-size: 28px;
}

  .closeImage {
    width: 40px;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 25px;
    cursor: pointer;
}

  /* открытие полной карточки  */

.card-opened {
    display: block;
    /* opacity: 1; */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
   bottom: 0;
    left: 0;
    /* margin: 0 auto; */
    /* height: 100vh; */
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 
.full-image-card {
    display: none;
}

 .full-image-card-opened {
    width: 100%;
    height: 100%;
    z-index: 1999;
    /* display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
   bottom: 0;
    left: 0;
    z-index: 1999;
    background-color: rgba(0, 0, 0, 0.5); */


@media screen and (max-width: 1800px) { 
    .background-image3 {
    width: 8%;
    }

    .main-logo {
        right: 16%;
    }
}


@media screen and (max-width: 1700px) { 
    .background-image4 {
        width: 18%;
    }

    .background-image5 {
        width: 15%;
    }

    .background-image3 {
        display: none;
    } 
}


@media screen and (max-width: 1650px) { 
    .main-logo {
        right: 14%;
    }
}


@media screen and (max-width: 1600px) { 
    .main-logo {
        right: 12%;
    }
}


@media screen and (max-width: 1550px) { 
    .main-logo {
        right: 16%;
    }

    .head-section {
        height: 800px;
    }
}


@media screen and (max-width: 1500px) { 
    .main-logo {
        right: 14%;
    }
}


@media screen and (max-width: 1450px) { 
    .background-image1 {
        width: 15%;
    }

    .main-logo {
        right: 10%;
    }

    .background-image5 {
        width: 10%;
    }

    .container {
        padding: 0 30px;
    }
  
}


@media screen and (max-width: 1350px) { 
    .background-image5 {
        display: none;
     }

     .items-section {
        row-gap: 10px;
    }

    .background-image4 {
        display: none;
    }

    .head-section {
        height: 700px;
    }

    .main-logo {
        right: 7%;
        width: 460px;
    }
    
    .map-section__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px 10px;
        column-gap: 30px;
    }

    .map-section__map {
        width: 96%;
        height: 400px;
    }

    .footer-section__content {
        width: 60%;
    }

    .full-card__text :nth-child(3) {
        font-size: 26px;
    }
}


@media screen and (max-width: 1200px) {
    .head-section {
        height: 600px;
    }

    .cheesecake-section {
        height: 476px;
    }

    .cake-section {
        height: 476px;
    }

    .eclair-section {
        height: 476px;
    }

    .main-logo {
        top: 18%;
    }
    
    .full-card__text :nth-child(3) {
        font-size: 24px;
    }
}


@media screen and (max-width: 1100px) {
    .buy-section__text p {
    font-size: 26px;
    }

    .main-logo {
        right: 7%;
        width: 430px;
    }

    .head-section {
        height: 550px;
    }

    .map-section__content {
        padding: 10px 10px;
    }

    .footer-section__content {
        width: 70%;
    }

    .category-headline {
        margin-left: 25px;
    }

    .eclairs-headline {
        margin-left: 20px;
    }

    .map-section__text h3 {
        font-size: 40px;
    } 

    .full-card__text :nth-child(3) {
        font-size: 22px;
    }

    .menu {
        width: 73%;
    }
    
    .closeImage {
        width: 35px;
    }
}


@media screen and (max-width: 1000px) {
    .items-section {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .map-section__text p {
        font-size: 24px;
    }

    .map-section__text h3 {
        font-size: 38px;
        text-align: center;
    } 

    .map-section__content {
        padding: 30px 10px;
    }

    .main-logo {
        right: 3%;
        
        width: 370px;
    }

    .buy-section__text p {
        font-size: 23px;
    }

    iframe {
        width: 800px;
    }

    .video-section {
        padding: 5px 10px 70px;
        position: relative;
    }

    .full-card__text :nth-child(3) {
        font-size: 20px;
    }

    .full-card {  
        width: 90%; 
        border: 1px solid blueviolet;
    }

    .closeImage {
        width: 30px;
    }
}


@media screen and (max-width: 977px) {
    .intro-section__image p {
        font-size: 34px;
    }
}


@media screen and (max-width: 933px) {
    .intro-section__image p {
        font-size: 32px;
    }

    .map-section__text h3 {
        font-size: 36px;
    } 
    
    .full-card__text :nth-child(3) {
        font-size: 18px;
    }
}


@media screen and (max-width: 900px) {
    .main-logo {
        right: 41%;
        top: 82%;
        width: 290px;
    }

    .intro-section__image p {
        font-size: 30px;
    }
   
    .map-section__text h3 {
        font-size: 34px;
    } 
            
    .closeImage {
        width: 25px;
    }
}

@media screen and (max-width: 884px) {
    .main-logo {
        right: 38%;
        top: 82%;
        width: 290px;
    }
        
    .map-section__text h3 {
        font-size: 32px;
    } 

    .full-card__text {
        font-size: 28px;
    }

    .full-card__text :nth-child(3) {
        font-size: 16px;
    }

    .buy-section__text p {
        font-size: 22px;
    }
}


@media screen and (max-width: 850px) {
    .main-logo {
        right: 37%;
        top: 82%;
        width: 290px;
    }
           
    .intro-section__image p {
        font-size: 28px;
    }
           
    iframe {
        width: 780px;
    }

    .buy-section__text p {
        font-size: 20px;
    }
            
    .map-section__text p {
        font-size: 24px;
    }             
}


@media screen and (max-width: 834px) {
    .main-logo {
        right: 36%;
        top: 82%;
        width: 290px;
    }
}

                
@media screen and (max-width: 823px) {
    .main-logo {
        right: 35%;
        top: 82%;
        width: 290px;
    }

    iframe {
        width: 760px;
    }
}


@media screen and (max-width: 810px) {
    .main-logo {
        right: 34%;
        top: 82%;
        width: 290px;
    }
                    
    .map-section__text h3 {
        font-size: 30px;    
    } 
}


/* 700-800 */

@media screen and (max-width: 800px) {
    iframe {
        width: 620px;
        height: 350px;
    }
        
    .map-section__content {
        grid-template-columns: 1fr;
    }

    .map-section__text p {
        font-size: 28px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-section__content p {
        font-size: 60px;
    }

    .main-logo {
        right: 35%;
        top: 82%;
        width: 260px;
    }

    .buy-section__content {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 10px 5px;
        row-gap: 40px;
        text-align: center;
    }

    .map-section__map {
        width: 95%;
        text-align: center;
    }

    .buy-section__image {
        margin: 0 auto;
    }

    .map {
        text-align: center;
    }

    .items-section {
        row-gap: 20px;
    }

    .footer-section__content > p {
        font-size: 46px;
    }

    .category-headline {
        margin-left: 30px;
    }

    .eclairs-headline {
        margin-left: 30px;
    }

    .buy-section__text p {
        font-size: 23px;
    }

    .map-section__text p {
        font-size: 23px;
    }
    
    .menu {
        width: 76%;
    }
}


@media screen and (max-width: 773px) {
    .main-logo {
        right: 32%;
        top: 82%;
        width: 260px;
    }

    .menu {
        width: 82%;
    }
}



@media screen and (max-width: 760px) {
    .buy-section > .container > p {
        font-size: 26px;
    } 
}
    

@media screen and (max-width: 740px) {
    .main-logo {
        right: 29%;
        top: 82%;
        width: 260px;
    }

    .menu {
        font-size: 38px;
        width: 86%;
    }
}


@media screen and (max-width: 713px) {
    .main-logo {
        right: 27%;
        top: 82%;
        width: 260px;
    }

    .intro-section {
        font-size: 30px;
    }

    .intro-section__image p {
        font-size: 26px;
    }
    
    .full-card {  
        max-height: 760px;
    }
    
    .menu {
        font-size: 36px;
        width: 86%;
    }

    .full-card {  
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 0;
        max-height: 860px;
    }
              
    .card-opened {
        display: block;
        position: fixed;
        height: auto;
    }
    
    .full-card___photo {
        display: flex;
        justify-content: center;
    }
    
    .full-card__image {
        margin: 0 auto 15px;
        text-align: center;
        width: 90%;
        padding-top: 5px; 
    } 

    .closeImage {
        width: 25px;
    }
    
    .full-card__text {
        text-align: center;
    }
        
    .full-card {  
         max-height: 800px;
    }
}


/* 600px - 700px  */

@media screen and (max-width: 700px) {

    .items-section {
        grid-template-columns: 1fr;
        row-gap: 50px; 
    }

    h3 {
        margin-bottom: 10px;
    }
 
    .card {
        margin: 0 auto;
    }

    .menu {
        margin: 10px auto;
        width: 95%;
        justify-content: space-between;
    }

    .main-logo {
        right: 26%;
    }

    iframe {
        width: 540px;
        height: 350px;
    }

    .intro-image {
        height: 135px;
        margin: 40px auto 25px;
    }

    .intro-section__images p {
        font-size: 24px;
    }

    .intro-section__text {
        font-size: 28px;
    }

    .logo2 {
        width: 170px;
    }

    h3 {
        font-size: 30px;
    }

    .price {
        font-size: 28px;
    }

    .category-headline {
        width: 40%;
        margin-left: 25px;
    }

    .eclairs-headline {
        margin-left: 30px;
        width: 30%;
    }

    .button-more-info {
        width: 250px;
        padding: 0;
        margin: 0;
        margin: 25px 0;
        padding-left: 7%;
        cursor: pointer;
    }

    .button-more-info__text {
        position: absolute;
        top: 25%;
        left: 30%;
        font-size: 38px;
        text-transform: unset;
        padding-left: 0;
    }

    .buy-section > .container > p {
        font-size: 24px;

    }

    .full-card {           
        max-height: 790px;
    }
}


@media screen and (max-width: 680px) {
    .main-logo {
        right: 24%;
    }

    .full-card {      
        max-height: 780px;
    }
}


@media screen and (max-width: 662px) {
    .main-logo {
        right: 22%;
    }
}


@media screen and (max-width: 647px) {
    .intro-section__images p {
        font-size: 22px;
    }
    .full-card {  
        max-height: 760px;
    }
}

@media screen and (max-width: 645px) {
    .main-logo {
        right: 18%;
    }

    .intro-section__images p {
        font-size: 20px;
    }
    
    .buy-section > .container > p {
        font-size: 22px;
     }

     .buy-section__text p {
       font-size: 20px;
     }

     h2 {
        font-size: 52px;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 615px) {
    .main-logo {
        right: 15%;
    }
}


@media screen and (max-width: 609px) {
    .intro-section__images p {
        font-size: 20px;
    }

    .intro-image {
        height: 110px;
    }

    .intro-section__image {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .full-card__image {
        margin-bottom: 20px;
    }

    .closeImage {
        width: 25px; 
    }

    .full-card__text p {
        margin-bottom: 10px;
        text-align: center;
    }

    .buy-section__image {
        width: 100%;
    }

    .map-section__map {
        width: 100%;
    }

    .map-section__content {
        padding: 30px 0;
    }

    .map-section__text {
        
        padding: 15px 0 25px;
    }
    
    .buy-section__content {
        padding: 30px 0 5px;
    }
}



@media screen and (max-width: 594px) {
    .main-logo {
        right: 13%;
    }

    .full-card {       
        max-height: 725px;
    }

    .eclairs-headline {
        width: 35%;
    }

    .buy-section > .container > p {
        font-size: 20px;
    }

    .buy-section__text p {
       font-size: 18px;
    }
}


@media screen and (max-width: 582px) {
    .main-logo {
        right: 11%;
    }
    
    .full-card {  
        max-height: 720px;
    }
}

/* 450px - 576px */

@media screen and (max-width: 576px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        padding: 15px;
        background: var(--main-background-color);
        transform: translateX(-100%);
        transition: all 0.5s; 
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: unset;
    }

    .menu span {
        margin-bottom: 10px;
    }

    .menu.active {
        position: absolute;
        transform: translateX(0);
        height: 100vh;
        margin-top: 0;
        transition: all 0.5s;
        padding-top: 40px;
    }

    .main-logo.hide {
       display: none;

    }

    .body.lock {
        overflow: hidden;
    }

    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
    
    .menu-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 5;
        overflow: hidden;
        margin-left: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
        
        z-index: 1000;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 8px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 8px);
    }

    iframe {
        width: 400px;
        height: 250px;
    }

     .intro-image {
        height: 80px;
        margin: 40px auto 25px;
    }

    .main-logo {
        right: 51%;
        top: 6%;
    }

    .intro-section__text {
        font-size: 26px;
    }
   
    .intro-section__images p {
        font-size: 20px;
    }

    .buy-section__text p {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .buy-section > .container > p {
        font-size: 20px;
        margin-bottom: 3px;
     }

     .map-section__map {
        height: 220px;
    }

    .footer-section__content > p {
        font-size: 32px;
    }

    .map-section__text p {
        font-size: 20px;
    }
    
    .category-headline {
        width: 45%;
    }

    .eclairs-headline {
        width: 40%;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 564px) {
    .intro-section__images p {
        font-size: 18px;
    }

    .full-card {  
        max-height: 720px;
    }

    .buy-section__text p {
        font-size: 18px;
        margin-bottom: 3px;
    }

    .buy-section > .container > p {
        font-size: 18px;
        margin-bottom: 3px;
    }

     .map-section__text p {
        font-size: 18px;
    }
}


@media screen and (max-width: 544px) {
    .main-logo {
        right: 48%;
        top: 6%;
    }

    .intro-section__images {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 36px;
    }

    .intro-image {
       height: 135px;
    }

    .intro-section__images p {
        font-size: 28px;
    }
}


@media screen and (max-width: 512px) {
    .main-logo {
        right: 46%;
        top: 6%;
    }

    .menu-image {
        width: 100%;
    }
    
    .full-card {  
        max-height: 680px;
    }

    .buy-section__text p {
        font-size: 16px;
        
        margin-bottom: 3px;
    }

    .buy-section > .container > p {
        font-size: 16px;
        margin-bottom: 3px;
    }

     .map-section__text p {
        font-size: 16px;
    }
}


@media screen and (max-width: 473px) {
    .main-logo {
        right: 41%;
        top: 6%;
    }

    .button-more-info {
        width: 250px;
        padding: 0;
        margin: 0;
        margin: 25px 0;
        padding-left: 5%;
        cursor: pointer;
    }

    .button-more-info__text {
        position: absolute;
        top: 25%;
        left: 30%;
        font-size: 38px;
        text-transform: unset;
        padding-left: 0;
    }

    .full-card {  
        max-height: 680px;
        padding: 60px 10px; 
    
    }

    .cake-section__text, .eclair-section__text, .cheesecake-section__text {
        font-size: 34px;
    }

    h2 {
    font-size: 44px;
    margin-bottom: 25px;
    }
}


/* 381px - 449px */

@media screen and (max-width: 454px) {
    .main-logo {
        right: 38%;
        top: 6%;
    }

    .footer-section__content {
        width: 80%;
    }

    iframe {
        width: 400px;
        height: 250px;
    }

     .intro-image {
        height: 115px;
    }
}


@media screen and (max-width: 434px) {
    .main-logo {
        right: 36%;
        top: 6%;
    }

    .footer-section__content { 
        width: 85%;
    }

    iframe {
        width: 350px;
        height: 220px;
    }

    .cake-section__text, .eclair-section__text, .cheesecake-section__text {
        font-size: 32px;
    }

    .category-headline {
        width: 50%;
    }
}


@media screen and (max-width: 414px) {
    .main-logo {
        right: 34%;
        top: 6%;
    }

    .button-more-info__text {
        position: absolute;
        top: 25%;
        left: 30%;
        font-size: 38px;
        text-transform: unset;
        padding-left: 0;
    }

    .full-card {  
        max-height: 660px;
    }
}


@media screen and (max-width: 404px) {
    .main-logo {
        right: 32%;
        top: 6%;
    }

    .intro-section__images p {
        font-size: 26px;
    }
}


@media screen and (max-width: 398px) {
    .main-logo {
        right: 30%;
        top: 6%;
    }

    .button-more-info {
        width: 250px;
        padding: 0;
        margin: 0;
        margin: 25px 0;
        padding-left: 3%;
        cursor: pointer;
    }

    .button-more-info__text {
        position: absolute;
        top: 25%;
        left: 29%;
        font-size: 38px;
        text-transform: unset;
        padding-left: 0;
    }
}


@media screen and (max-width: 380px) {
    .main-logo {
        right: 28%;
        top: 6%;
    }

    .button-more-info__text {
        position: absolute;
        top: 25%;
        left: 36%;
        font-size: 38px;
        text-transform: unset;
        padding-left: 0;
    }

    .button-more-info__text {
        position: absolute;
        top: 25%;
        left: 27%;
        font-size: 38px;
        text-transform: unset;
        padding-left: 0;
    }

    .footer-section__content { 
        width: 90%;
    }

    .footer-section p {
        font-size: 30px;
    }
    
    .background-image6 {
        width: 7%;
    }
    
    .background-image7 {
        width: 7%;
    }

    iframe {
        width: 320px;
        height: 200px;
    }

    .intro-image {
        height: 105px;
    }

    h2 {
        font-size: 42px;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 370px) {
    .main-logo {
        right: 24%;
        top: 6%;
    }

    .eclairs-headline {
        width: 45%;
    }
}

@media screen and (max-width: 350px) {
    .main-logo {
        right: 20%;
        top: 6%;
    }

    .footer-section p {
        font-size: 28px;
    }
    
    .background-image6 {
        width: 7%;
    }
    
    .background-image7 {
        width: 7%;
    }

    iframe {
        width: 300px;
        height: 190px;
    }

     .intro-image {
        height: 95px;
    }

     .category-headline {
        width: 60%;
    }

    .eclairs-headline {
        width: 45%;
    }
}

@media screen and (max-width: 334px) {
    .main-logo {
        right: 16%;
        top: 6%;
    }
}
