/* общее */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    scroll-behavior: smooth;
}

html {
    padding: 0;
}

body {
    max-width: 2300px;
    margin: 0 auto;
    min-width: 320px;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 10px;
}

h2 {
    color: rgb(54, 17, 90);
    text-align: center;
    font-size: 64px;
    margin-bottom: 30px;
}

h3 {
    font-size: 44px;
    margin: 20px auto;
    font-weight: 900;
}

:root {
    --main-background-color: rgb(215, 201, 227);
}

a {
    color: black;
    text-decoration: none;
}

/* верхний блок с меню */

.head-section {
    height: 100vh;
    /* border: 2px solid blueviolet; */
    background-image: url(../images/background-main.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 10px 5px;
    position: relative;
}

.main-logo {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 550px;
    animation: backInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}

.menu {
    /* border: 1px solid blueviolet; */
    display: flex;
    margin: 10px auto;
    font-size: 40px;
    width: 70%;
    justify-content: space-between;
}

.menu span a {
    color: black;
}

.menu span a:hover {
    color: blueviolet;
}

.background-image1 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 18%;
}

/* описание компании */

.intro-section {
    padding: 50px 0;
    text-align: center;
    background-color: var(--main-background-color);
    font-size: 32px;
 }
 
 .logo2 {
     width: 200px;
 }

 .intro-section__images {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     font-size: 36px;
 }
 
 .intro-section__image {
     display: flex;
     flex-direction: column;
     padding: 20px;
 }

 .intro-section__image:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}
 
 .intro-image {
     height: 150px;
     margin: 40px auto 25px;
 }

/* торты  */

.cake-section {
    background-image: url(../images/cakes-background1.jpg);
    height: 576px;
    background-size: cover;
    padding: 90px 0;
    position: relative;
}

.cake-section__text {
    font-size: 38px;
    text-transform: unset;
    padding-left: 4%;
}

.background-image3 {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 12%;
}


/* чизкейки  */

.cheesecake-section {
    background-image: url(../images/cheesecakes-background1.png);
    background-size: cover;
    height: 576px;
    padding: 50px 0;
    position: relative;
}

.background-image4 {
    position: absolute;
    bottom: -20%;
    right: 0%;
}

/* эклеры  */
.eclair-section {
    background-color: var(--main-background-color);
    background-size: cover;
    height: 582px;
    padding: 90px 0;
    position: relative;
}

.eclairs-headline {
    width: 25%;
    margin-bottom: 30px;
}

.eclair-section__text {
    font-size: 38px;
    text-transform: unset;
    padding-left: 4%;
}

.eclair-section__text:nth-child(3) {
    padding-left: 6%;
}

/* вводный блок для категории меню  */

.category-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cheesecake-section__text {
    font-size: 38px;
    text-transform: unset;
    padding-left: 6%;
    cursor: pointer;
}

.button-more-info {
    width: 250px;
    padding: 0;
    margin: 0;
    margin: 25px 0;
    padding-left: 15%;
    cursor: pointer;
}

.button-more-info__text {
    position: absolute;
    top: 25%;
    left: 29%;
    font-size: 38px;
    text-transform: unset;
    padding-left: 6%;
}

.category-section div {
    position: relative;
}

.category-headline {
    width: 30%;
    margin-bottom: 30px;
}

/* карточки товаров */

.items-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    row-gap: 50px;
}

.menu-section {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 100px 0 70px;
}

.menu-image {
    width: 93%;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    cursor: pointer;
}

.card:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
}

.price {
    font-size: 34px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

/* видео */

.video-section {
    padding: 50px 10px 90px;
    position: relative;
}

.video-frame {
   text-align: center;
}

.background-image5 {
    position: absolute;
    top: -28%;
    left: 0%;
    width: 18%;
}

/* предзаказ */

.buy-section {
    padding: 50px 0 5px;
    background-color: var(--main-background-color);
}

.buy-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 10px;
}

.buy-section__image {
    width:95%;
}

.buy-section__text p {
    font-size: 28px;
    margin-bottom: 3px;
}

.buy-section > .container > p {
   font-size: 28px;
   text-align: center;
   margin-bottom: 10px;
}

/* карта */
    
.map-section {
    padding: 5px 0 15px;
    background-color: var(--main-background-color);
}

.map-picture {
    width: 90%;
}

.map-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 10px;
    column-gap: 20px;
}

.map-section__text {
    padding: 15px 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.map-section__text p {
    font-size: 28px;
}

.map-section__text h3 {
    margin-top: 5px;
}

/* футер */

.footer-section {
    padding: 5px 10px 15px;
    background-color: var(--main-background-color);
}

.footer-section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto 20px;
}

.footer-section p {
    font-size: 80px;
}

.background-image6 {
    width: 8%;
}

.background-image7 {
    width: 8%;
}

/* полная карточка  */
.full-card {  
    padding: 60px 30px; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px;
    width: 80%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .full-item-card {
    display: none;
  }

  .full-card__image {
    width: 95%; 
    cursor: pointer;
  }

  .full-card__text {
    display: flex; 
    flex-direction: column; 
    width: 95%; 
    font-size: 32px;
  }

  .full-card__text p {
    margin-bottom: 10px;
  }

  .full-card__text :nth-child(3) {
   font-size: 28px;
  }

  .closeImage {
    width: 40px;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 25px;
    cursor: pointer;
  }

  /* открытие полной карточки  */


.card-opened {
    display: block;
    /* opacity: 1; */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
   bottom: 0;
    left: 0;
    /* margin: 0 auto; */
    /* height: 100vh; */
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 
.full-image-card {
    display: none;
}

 .full-image-card-opened {
    width: 100%;
    height: 100%;
    z-index: 1999;
    /* display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
   bottom: 0;
    left: 0;
    z-index: 1999;
    background-color: rgba(0, 0, 0, 0.5); */

@media screen and (max-width: 1800px) { 
    .background-image3 {
    width: 8%;
    }

    .main-logo {
        right: 16%;
    }
}

@media screen and (max-width: 1700px) { 
    .background-image4 {
        width: 18%;
    }
    .background-image5 {
        width: 15%;
    }

    .background-image3 {
        display: none;
     }
    
}


@media screen and (max-width: 1650px) { 
    .main-logo {
        right: 14%;
    }
}

@media screen and (max-width: 1600px) { 
    .main-logo {
        right: 12%;
    }
}

@media screen and (max-width: 1550px) { 
    .main-logo {
        right: 16%;
    }
    .head-section {
        height: 800px;
    }
}

@media screen and (max-width: 1500px) { 
    .main-logo {
        right: 14%;
    }
}

@media screen and (max-width: 1450px) { 
    .background-image1 {
        width: 15%;
    }
    .main-logo {
        right: 10%;
    }
   
    .background-image5 {
        width: 10%;
    }
    .container {
        padding: 0 30px;
    }
  
}

@media screen and (max-width: 1350px) { 
    .background-image5 {
        display: none;
     }

     .items-section {
        row-gap: 10px;
    }

    .background-image4 {
        display: none;
    }

    .head-section {
        height: 700px;
    }

    .main-logo {
        right: 7%;
        width: 460px;
    }
    
    .map-section__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px 10px;
        column-gap: 30px;
    }

    .map-section__map {
        width: 96%;
        height: 400px;
    }

    .footer-section__content {
        width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    .head-section {
        height: 600px;
    }

    .cheesecake-section {
        height: 476px;
    }
    .cake-section {
        height: 476px;
    }
    .eclair-section {
        height: 476px;
    }
    .main-logo {
        top: 18%;
    }
}

@media screen and (max-width: 1100px) {
    .buy-section__text p {
    font-size: 26px;
    }
    .main-logo {
        right: 7%;
        width: 430px;
    }
    .head-section {
        height: 550px;
    }
    .map-section__content {
        padding: 10px 10px;
    }

    .footer-section__content {
        width: 70%;
    }
   
}

@media screen and (max-width: 1000px) {
.items-section {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}

.map-section__text p {
    font-size: 24px;
}

.map-section__text h3 {
    font-size: 40px;
} 
.map-section__content {
    padding: 10px 10px;
}
.main-logo {
    right: 3%;
    width: 370px;
}
.buy-section__text p {
    font-size: 23px;
}

iframe {
    width: 800px;
 }

 .video-section {
    padding: 5px 10px 70px;
    position: relative;
}
}

@media screen and (max-width: 900px) {
    
    .main-logo {
        right: 34%;
        top: 82%;
        width: 290px;
    }
   
    
    }


    /* 700-800 */
    @media screen and (max-width: 800px) {
    
        iframe {
            width: 620px;
            height: 350px;
         }
        

        .map-section__content {
            grid-template-columns: 1fr;
           
        }
        .map-section__text p {
            font-size: 28px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 10px;
        }
        .footer-section__content p {
            font-size: 60px;
        }

        .main-logo {
            right: 26%;
            top: 82%;
            width: 260px;
        }
        .buy-section__content {
            display: grid;
            grid-template-columns: 1fr;
            padding: 30px 10px 5px;
            row-gap: 20px;
            text-align: center;
        }
        .map-section__map {
            width: 95%;
            text-align: center;

        }

         .buy-section__image {
            margin: 0 auto;
         }

         .map {
            text-align: center;
         }

         .items-section {
            row-gap: 20px;
        }
        .footer-section__content > p {
            font-size: 46px;
        }
    }

/* 600px - 700px  */

@media screen and (max-width: 700px) {



.menu {
   
    margin: 10px auto;
    font-size: 40px;
    width: 95%;
    justify-content: space-between;
}
.main-logo {
    right: 17%;
}
iframe {
    width: 540px;
    height: 350px;
 }

 .intro-image {
    height: 110px;
    margin: 40px auto 25px;
}

.intro-section__images p {
    font-size: 26px;
}

.intro-section__text {
    font-size: 28px;
}

.logo2 {
width: 170px;
}

h3 {
    font-size: 30px;
}

.price {
    font-size: 28px;
}
}

/* 450px - 576px */
@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }
    iframe {
        width: 400px;
        height: 250px;
     }
     .intro-image {
        height: 80px;
        margin: 40px auto 25px;
    }
    .main-logo {
        right: 41%;
        top: 6%
    }
    .intro-section__text {
        font-size: 26px;
    }
    .intro-section__images p {
        font-size: 24px;
    }
    .buy-section__text p {
        font-size: 20px;
        margin-bottom: 3px;
    }
    .buy-section > .container > p {
        font-size: 22px;
        margin-bottom: 0;
     }
     .map-section__map {
        height: 220px;

    }
    .footer-section__content > p {
        font-size: 32px;
    }
    .map-section__text p {
        font-size: 20px;
    }
}

/* 381px - 449px */
@media screen and (max-width: 449px) {}


/* 320px - 380px */
@media screen and (max-width: 449px) {}

/* 768px - 992px */
@media screen and (max-width: 992px) {}

/* 576px - 768px */
@media screen and (max-width: 768px) {}

/* 320px - 576px */
@media screen and (max-width: 576px) {}

@media screen and (max-width: 400px) { }
